h1 {
    color: blue
}

.red-title {
    color: red;
    font-size: 30px;
    font-style:italic;
}

.blue-title {
    color:blue;
    font-size: 20;
    font-style:normal;
}
p {
    color: red;
    margin: 50px;
}

h3 {
    color: blueviolet;
    margin: 100px;
}
 .table1,
 .table1 th, 
 .table1 td {
    border: 5px solid burlywood;
}

.table2 td,
.table2 th {
    border:3px solid pink
}
