h1 {
    color: rgb(34, 34, 129)
}

.red-title {
    color: red;
    font-size: 30px;
    font-style:italic;
}

.blue-title {
    color:blue;
    font-size: 20;
    font-style:normal;
}
p {
    color: rgb(17, 65, 138);
    margin: 50px;
}

h3 {
    color: blueviolet;
    margin: 100px;
}

table{
    border-collapse: collapse;
    margin-top: 1rem;
}

th,td {
    padding: 0.5rem;
    text-align: center;
    border: 2px solid;
}

 .table1,
 .table1 th, 
 .table1 td {
    border-color:  burlywood;
}

.table2 td,
.table2 th {
    border-color: palevioletred
}
div{
    width: 300px;
    margin:auto
}
